{% extends 'base.html.twig' %}
{% block title %}Ingresa Al Sistema{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/Login.css">
{% endblock stylesheets %}
{% block body %}
    <div class="banner">
        <img src="img/LogoPoliGraphApplication.png" class="imageliGraph"><H1>Loing</H1></img>
    </div>
{% endblock %}